
@media (min-width: 768px) {
  .carousel {
    height: 500px !important;
    margin-top: 80px;
  }
  .carousel .item {
    height: 500px !important;
  }
  .carousel-inner > .item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 500px !important;
    object-fit: cover;
  }
  .sliders-one h3{
    background: linear-gradient(45deg, #558ffa8a, #ffffff34) !important;
    text-shadow: 2px 2px 2px #000000b0;
    font-size: 10rem;
  }
  .sliders-three h4{
    background: linear-gradient(45deg, rgba(255, 217, 0, 0.411), #fff) !important;
    text-shadow: 2px 2px 2px gold;
    padding: 1rem;
  }
  .concert-details-button{
    background-color: rgb(80, 8, 80) !important;
    color: #ffffff;
    padding: 0.6rem !important;
    font-size: 3rem;
  }
  .Indicators-for-sliders{
    border-color: rgb(80, 8, 80) !important;
  }
  .carousel-caption h2{
    color: #fff349;
    text-shadow: 2px 2px 2px #000000b0;
    font-size: 6rem;
    background: linear-gradient(45deg, #558ffa, #ffffffab);
    padding-bottom: 5px;
  }
  .carousel-caption h4{
    color: #143016 !important;
    background: #ffffff9c;
    text-shadow: 0 0 2px #000000b0;
    font-size: 10rem;
  }
}

@media (max-width: 768px) {
  .carousel {
    height: 250px !important;
    margin-top: 80px;
  }
  .carousel .item {
    height: 250px !important;
  }
  .carousel-inner > .item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 250px !important;
    object-fit: cover;
  }
  .sliders-one h3{
    background: linear-gradient(45deg, #558ffa8a, #ffffff34) !important;
    text-shadow: 2px 2px 2px #000000b0;
    padding: 1.3rem;
  }
  .sliders-three h4{
    background: linear-gradient(45deg, rgba(255, 217, 0, 0.411), #fff) !important;
    text-shadow: 2px 2px 2px gold;
    padding: 1rem;
  }
  .concert-details-button{
    background-color: #4989ff;
    color: #ffffff;
    padding: 0.6rem !important;
    font-size: 1.8rem;
  }
  .Indicators-for-sliders{
    border-color: rgb(80, 8, 80) !important;
  }
  .carousel-caption h2{
    color: #fff349;
    text-shadow: 2px 2px 2px #000000b0;
    font-size: 2rem;
    background: linear-gradient(45deg, #558ffa, #ffffffab);
    padding-bottom: 10px;
    padding-top: 10px;
  }
  .carousel-caption h4{
    color: #143016 !important;
    background: #ffffff9c;
    text-shadow: 0 0 2px #000000b0;
    padding: 10px;
  }
}

