/* page loader */
.animate{
    animation: pulse 4s infinite;
    text-align: center;
    cursor: none;
}
@keyframes pulse{
    0%{
        color: darkred;
        transform: scale(1.3);
    }
    50%{
        color: darkgreen;
        transform: scale(1.3, 2.3);
        letter-spacing: 1px;

    }
    100%{
        color: darkred;
        transform: scale(1.3);
    }
}
.loader-container{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(255, 253, 253, 0.747);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2000;

}


/* navigation header */
.navigation-header{
    width: 100%;
    background: ghostwhite;
}

/* pseudo ::scrollbar element */
::-webkit-scrollbar-corner, ::-webkit-resizer {
    background: #d6c5c59d;
}
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background: #d6c5c59d;
    border-radius: 4px;
}
::-webkit-scrollbar-corner, ::-webkit-resizer {
    background: #d6c5c59d;
}
::-webkit-scrollbar-thumb {
    background-color: #8949ff;
    border-radius: 4px;
}
/* top header */
button{
    outline: none;
}
.logo img{
    height: 5rem;
    width: 5rem;
}
.top-header{
    display: flex;
    justify-content: space-between;
}
.dropdown-toggle:hover, .dropdown-menu{
    display: block;
}
.search-results{
    margin-top: 2rem;
}
.input-for-search-data{
    width: 14rem;
    border: none;
    box-shadow: 0 0 3px #8949ff;
    border-radius: 5px 0 0 5px;
    font-size: 1.4rem;
    padding-left: 1rem;
    outline: none !important;
}
.button-for-search{
    background-color:  rgb(80, 8, 80)!important;
    color: #ffffff;
    border-radius: 0 5px 5px 0 !important;
    font-size: 1.2rem !important;
    outline: none !important;
}
/* trending srtists */
.trending-artists{
    /* background-color: red; */
    margin-top: 10rem;
    /* width: 95% !important; */
}
.col-xs-6{
    /* background-color: yellow; */
    justify-content: space-between;
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.artist-details{
    padding-left: 0.8rem;
    padding-right: 0.8rem;
    padding-bottom: 0.5rem;
    line-height: 0.5;
}
.artist-border{
    /* border: 1px solid rgba(0, 0, 0, 0.329); */
    border-radius: 0.3rem;
    box-shadow: 0 0 4px rgb(80, 8, 80);
}
.artist-photo{
    width: 100%;
    height: 210px;
    border-top-left-radius: 0.3rem;
    border-top-right-radius: 0.3rem;
}
.artist-photo img{
    width: 100%;
    height: 210px;
    object-fit: cover;
    border-top-left-radius: 0.3rem;
    border-top-right-radius: 0.3rem;
}
.like{
    padding-right: 0.5rem;
    font-weight: 500;
}
.like, .view{
    color: darkblue !important;
}
.likes-and-views{
    font-size: 1.3rem;
    text-align: center;
    width: 100%;
    padding-bottom: 0.8rem;
}
.artist-name{
    color: darkblue;
    font-size: 16px;
}
.like, .view, .artist-name{
    font-weight: 600 !important;
}
.Likes, .Views{
    color: darkorange;
    font-size: 1.3rem;
    font-weight: bold;
    background: #ffffff;
}
.artist-genre{
    font-size: 1.5rem;
    color: darkcyan;
}
.about-artist{
    background-color: #4989ff;
    color: #ffffff;
    width: 100% !important;
    padding: 1rem;
    margin: auto;
    font-size: 14.5px;
    text-align: center;
    margin-bottom: 1rem;
    border-radius: 0.5rem;
    position: relative;
    overflow: hidden;
}
.about-artist::before{
    content: "";
    position: absolute;
    background: #8949ff;
    width: 0;
    height: 0;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    transition: width .5s, height .5s;
    z-index: 0;
}
.about-artist:hover::before{
    height: 500px;
    width: 500px;
}
.about-artist:hover{  
    color: #fff;
    transition: .5s;
}
.about-artist span{
    position: relative;
    z-index: 0;
}

.artist-faqs{
    margin-left: 5px;
}
.share-svg-image{
    width: 15px; 
    height: 15px;
}
.about-artist-svg-image{
    width: 13px;
    height: 15px;
}
.share-and-about-artist{
    text-align: center; 
    font-size: 13px;
    color: #ffffff;
    width: 100%;
    font-weight: 400;
}
.share-art{
    background: #4989ff;
    padding: 0.6rem;
    border-radius: 0.5rem;
}
.share-and-about-artist span{
    cursor: pointer;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}
button{
    border:none;
}
.view-all-artists{
    padding: 0.4rem !important;
    margin-top: 2rem;
    position: relative;
    overflow: hidden;
}
.view-all-artists h4::before{
    content: "";
    position: absolute;
    background: #8949ff;
    width: 0;
    left: var(--xPos);
    top: (--yPos);
    transform: translate(-50%, -50%);
    border-radius: 50%;
    transition: width .5s, height .5s;
}
.view-all-artists h4:hover::before{
    height: 2000px;
    width: 2000px;
    transition: all .6s;
}
.view-all-artists h4 span{
    position: relative;
    z-index: 0;
}
path, circle{
    fill: rgb(80, 8, 80);
}

/* Events */
.event-type{
    position: absolute;
    background-color: #8949ff;
    border-radius: 40%;
    padding: 2px 10px;
    color: #ffffff;
    margin: 10px;
    text-shadow: 0 0 8px #000000;
}
.fee{
    position: absolute;
    float: right;
    background-color: #8949ff;
    color: #ffffff;
    padding: 2px 8px;
    margin-left: 30%;
    margin-top: -25px;
    font-size: 1.1rem;
    font-family: serif;
    text-shadow: 0 0 8px #000000;
}
.event-name{
    font-size: 1.4rem;
}
.event-date{
    font-size: 1.25rem;
    text-align: center;
}
.event-venue{
    line-height: 1;
    height: auto;
}
.event-sidebar{
    background: #8949ff !important;
    left: 0 !important;
    height: 100%;
    width: 170px;
}
.event-sidebar a{
    color: #ffffff !important;
    font-size: 1.6rem;
    border-bottom:  1.5px solid #8949ff !important;
}
.event-sidebar a:hover{
    border-bottom:  1.5px solid #fff !important;
    transition: .5s !important;
    text-shadow: 0 0 8px #000000;
}
.sidenav {
    width: 160px;
    position: fixed;
    z-index: 1;
    left: 10px;
    background: #eee;
    overflow-x: hidden;
    padding: 8px 0;
  }
  
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    /* font-size: 25px; */
    color: #2196F3;
    display: block;
  }
  
  .sidenav a:hover {
    color: #064579;
    border-bottom: 1px solid #8949ff;
  }
  
  .main {
    margin-left: 170px; /* Same width as the sidebar + left position in px */
    /* font-size: 28px; Increased text to enable scrolling */
    padding: 0px;
  }
  .space{
    color: transparent;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}

}
@media (max-width: 970px){
    /* pseudo ::scrollbar element */
.sidenav::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
    /* events */
.sidenav{
    display: inline-flex;
    width: 95%;
    overflow-x: auto;
    padding: 0.5rem;
    margin: auto;
  }
  .sidenav a {
    padding: 8px 8px 3px 8px;
    text-decoration: none;
    font-size: 1.6rem;
    color: #2196F3;
    display: inline-flex;
    margin: 0.1rem;
  }
  .event-sidebar{
    height: 4rem;
    width: 100%;
}
  .main{
    margin-left: 0;
    padding: 0;
  }
  .Upcoming{
    margin-top: 4rem;
  }
  .concerts{
    margin-top: 6rem;
  }
  /* events photo starts*/
.event-photo{
    height: 170px !important;
}
.event-photo img{
    height: 17s0px !important;
}
/* events photo ends */
}

/* social links */
.social-link:hover{
    border: 1px solid #8949ff !important;
    transition: .3s;
}